<!doctype html>
<html lang="de">

<head>
    <title>Biometrische Bilder - 404</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <style>
        :root {
            --color-teal: #4297a0;
            --color-coral: #e57f84;
            --color-blue: #2f5061;
            --color-ivory: #faeae6;
        }

        body {
            background-color: #faeae6;
        }

        @media (prefers-color-scheme: dark) {
            body {
                background: #333;
                color: var(--color-ivory);
            }

            a,
            a:visited {
                color: skyblue;
            }
        }

        a,
        a:visited {
            color: var(--color-teal);
        }

        a {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }

        .intro {
            text-align: center;
        }

        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .license-used-by {
            margin-top: -10px;
        }

        .license-text {
            max-height: 200px;
            overflow-y: scroll;
            white-space: pre-wrap;
        }
    </style>
</head>


<body>
    <main class="container">
        <div class="intro">
            <a href="..">
                <h1>
                    Biometrische Bilder erstellen
                </h1>
            </a>
            <p>This page lists the licenses of the projects used.</p>
        </div>
        <h2>Overview of licenses:</h2>
        <ul class="licenses-overview">
            {{#each overview}}
            <li><a href="#{{id}}">{{name}}</a> ({{count}})</li>
            {{/each}}
        </ul>

        <h2>All license text:</h2>
        <ul class="licenses-list">
            {{#each licenses}}
            <li class="license">
                <h3 id="{{id}}">{{name}}</h3>
                <h4>Used by:</h4>
                <ul class="license-used-by">
                    {{#each used_by}}
                    <li><a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a></li>
                    {{/each}}
                </ul>
                <pre class="license-text">{{text}}</pre>
            </li>
            {{/each}}
        </ul>

        <div class="intro">
            <h1>Other things used</h1>
            <p>
                <a href="https://github.com/Cool-Runningz/range-input.css">range input</a>
            </p>
            <p>
                <a href="https://copy-paste-css.com/">Buttons</a>
            </p>
            <p>
                <a href="https://github.com/EmbarkStudios/cargo-about">cargo-about</a>
            </p>
        </div>
    </main>
</body>

</html>
